<launch>
  <!-- Topics to publish -->

  <!-- Static transform between lidar framd and romi base frame -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="romi_base" args="0.0 0.0 0.2 0.0 0.0 0.0 base_link laser_frame" />

  <!-- parameters for romi.py  -->
  <node name="romi1" pkg="romi_robots" type="romi.py" output="screen" args="romi1"/>


  <!-- UNCOMMENT THIS WHEN USING MORE THAN ROMI ROBOT -->
  <!-- <node name="romi2" pkg="romi_robots" type="romi.py" output="screen" args="romi2"/>
  <node name="romi3" pkg="romi_robots" type="romi.py" output="screen" args="romi3"/> -->

  <!--Launch Mapping Package-->
  <include file="$(find mapping)/launch/demo.launch"/>

</launch>